.fight-scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.fight-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50vh;
  bottom: 0px;
  div {
    width:50%;
    height:100%;
  }
}

.characters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.enemies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.health-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 20px;
  width: 100%;
  height: 3vh;
  position: absolute;
  bottom: 2vh;
}

.health-container { 
  width: 30%;
  height: 100%;
  
}

/* 
.player-health-container { 
  left: 15%;
}

.enemy-health-container { 
  right: 15%;
} */

.health-bar {
  width: 100%;
  height: 100%;
  border-style: double;
  border-color: #dcec04;
  border-radius: 5px;
  overflow: hidden;
}

.health-fill {
  height: 100%;
  background-color: #edfd02;
  overflow: hidden;
}