@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.6;
    box-shadow: 0 0 5px #f1c40f;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
    box-shadow: 0 0 15px #f1c40f;
  }
}

@keyframes panBackground {
  from {
    background-position: 0% 25%;
  }
  to {
    background-position: -100% 25%;
  }
}

@keyframes glowPulse_Yellow {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.6));
  }
  50% {
    filter: drop-shadow(0 0 8px rgba(255, 165, 0, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.6));
  }
}

@keyframes glowPulseHigh_Yellow {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.8));
  }
  50% {
    filter: drop-shadow(0 0 30px rgba(255, 165, 0, 1));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.8));
  }
}

.crash-image {
  transition: filter 0.3s ease;
}

.crash-image:hover {
  animation: glowPulseHigh_Yellow 2s ease-in-out infinite;
}

.crash-image:not(:hover) {
  animation: glowPulse_Yellow 2s ease-in-out infinite;
}